{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

{% block page_head %}
    Training
{% endblock %}

{% block page_content %}

Welcome to your training for the TerpSys Student Information System.
Training materials are currently under construction, but will be created very soon.
Please check back soon or email Christian at <a href="malito:cgmorris@umd.edu">cgmorris@umd.edu</a> if you wish to be placed on the waiting list.

<!--- Replace <your name> with your name and <your email> with your email, without any < or > signs.
Make sure your email is created as a hyperlink. Hint: The href of the anchor tag will be href="mailto:<your email>"
(but with no < or > signs). --->

{% endblock %}